In [1]:
from call_goldenrecord import main as M
import pandas as pd

In [1]:
import codecs
with codecs.open(r'../source.txt', encoding='utf-8') as pathfile:
    input_file = pathfile.readlines()[0][:-1]
with codecs.open(r'../destination.txt', encoding='utf-8') as Ofile:
    output_file = Ofile.readlines()[0][:-1]

In [2]:
file= input_file +  "union_table.csv"
print(file)
print(output_file)

/Users/emansour/elab/DAGroup/DataCivilizer/github/data_civilizer_system/storage/data_sets/MIT_DemoResultsunion_table.csv
/Users/emansour/elab/DAGroup/DataCivilizer/github/data_civilizer_system/storage/data_sets/MIT_DemoResults/GRecords.cs

In [4]:
df = pd.read_csv(input_file + "union_table.csv", encoding='latin1')
df.sort_values(['cluster_id'], ascending=[True], inplace=True)

In [5]:
df[0:50]

,sis department name,building key,mit id,full name,office location,cluster_id
17976,NaN,NaN,777000954,NaN,NaN,777000954kackie
18788,NaN,NaN,900000061,NaN,NaN,900000061venegas
13151,NaN,NaN,900000066,"drazen, jeffrey m",ne_jrn_med,900000066jdrazen
17955,NaN,NaN,900000126,NaN,NaN,900000126esimha
24982,NaN,NaN,900000238,NaN,NaN,900000238debi
5479,NaN,NaN,900000307,"dudevoir, kevin a",haystck_ob-h2,900000307dudevoir
13565,NaN,NaN,900000307,"dudevoir, kevin a",haystck_ob-h-2,900000307dudevoir
26040,NaN,NaN,900000307,NaN,haystck_ob-h-2,900000307dudevoir
3923,NaN,NaN,900000426,"artz, lawrence a.",ll-j-137,900000426la21473
7578,NaN,NaN,900000426,NaN,ll-j-137,900000426la21473
13573,NaN,NaN,900000436,"fordham, ronald k",ll-millstone-ms-27,900000436fordhamr
26041,NaN,NaN,900000436,NaN,ll-millstone-27,900000436fordhamr
5411,NaN,NaN,900000436,"fordham, ronald k",ll-millstone-ms-27,900000436fordhamr
8323,NaN,NaN,900000460,NaN,ll-s4-233a,900000460melmac
815,NaN,NaN,900000460,"pike, melissa m",ll-s4-233a,900000460melmac
25170,NaN,NaN,900000489,NaN,NaN,900000489pcollymo
11629,NaN,NaN,900000496,"eggleston, james c",e53-100,900000496jceggles
4396,NaN,NaN,900000496,"eggleston, james c",e53-100,900000496jceggles
9846,NaN,NaN,900000496,NaN,e53-100,900000496jceggles
25275,NaN,NaN,900000521,NaN,NaN,900000521sluggo
24640,NaN,NaN,900000523,NaN,NaN,900000523raeburn
25185,NaN,NaN,900000544,NaN,NaN,900000544ffisher
14344,NaN,32.0,900000555,"wiken, ronald g",32-240,900000555rwiken
9639,NaN,32.0,900000555,NaN,32-240,900000555rwiken
5203,NaN,32.0,900000555,"wiken, ronald g",32-240,900000555rwiken
21626,NaN,NaN,900000559,NaN,NaN,900000559jhlyons
20666,NaN,NaN,900000607,NaN,NaN,900000607dbm2
6034,NaN,32.0,900000613,"forney, g david",32d-634,900000613forney
20421,NaN,NaN,900000700,NaN,NaN,900000700ahatch
25276,NaN,NaN,900001041,NaN,NaN,900001041whit
25505,NaN,NaN,900001092,NaN,NaN,900001092bonsaint
24413,NaN,NaN,900001109,NaN,NaN,900001109jambon
22333,NaN,NaN,900001128,NaN,NaN,900001128joanf
25180,NaN,NaN,900001165,NaN,NaN,900001165rmarsha
22084,NaN,NaN,900001168,NaN,NaN,900001168jmganno
24305,NaN,NaN,900001182,NaN,NaN,900001182maija
15059,NaN,NaN,900001215,NaN,bateslinac,900001215abruzzio
5615,NaN,NaN,900001215,"abruzzio, robert john",bateslinac,900001215abruzzio
11487,NaN,NaN,900001215,"abruzzio, robert john",bateslinac,900001215abruzzio
25492,NaN,NaN,900001216,NaN,NaN,900001216arlingto
13790,NaN,NaN,900001223,"hayes, d kevin",w89,900001223dkhayes
5157,NaN,NaN,900001223,"hayes, d kevin",w89,900001223dkhayes
9169,NaN,NaN,900001223,NaN,w89,900001223dkhayes
20634,NaN,NaN,900001224,NaN,NaN,900001224traverse
24304,NaN,NaN,900001226,NaN,NaN,900001226mahern
25418,NaN,NaN,900001248,NaN,NaN,900001248vdenton
10048,NaN,NaN,900001261,NaN,nw10,900001261rainbow
5389,NaN,NaN,900001261,"morris, gertrude a",nw10,900001261rainbow
13429,NaN,NaN,900001261,"morris, gertrude a",nw10,900001261rainbow
25072,NaN,NaN,900001263,NaN,NaN,900001263verde

In [ ]:
M(input_file, output_file)

looking for rules for table union_table.csv at column 0
number of clusters 18050
avg size 1.45036
column: sis department name
option: 0 (default): skip,
1: replacing rule only,
2: replacing rules + full rules,
3: replacing rules + deletion rules,
4: replacing rules + deletion rules + full rules,
5: full rules only

In [ ]:
df = pd.read_csv(output_file, encoding='latin1')
df.sort_values(['cluster_id', 'sis department name'], ascending=[False, False], inplace=True)

In [ ]:
df[1:50]